mixin area(attributes)
  - var __attributes = {};
  - each val, key in attributes
    //- allows the use of standard Jade syntax to define a MySource identifier
    - if (key === "id")
      - __attributes["id_name"] = val;
    - else
      - __attributes[key] = val;
  - attributes = __attributes;
  - if (block)
    MySource_AREA(attributes)
      block
  - else
    MySource_AREA(attributes)/

mixin asset
  MySource_ASSET(attributes)
    block

mixin divider
  MySource_DIVIDER
    block

mixin sub
  MySource_SUB(design_area="menu_normal")
    block

mixin then
  MySource_THEN
    block

mixin else
  MySource_ELSE
    block

mixin login
  MySource_LOGIN_SECTION
    block

mixin logout
  MySource_LOGOUT_SECTION
    block

mixin print(attributes)
  MySource_PRINT(attributes)/

mixin declare(attributes)
  MySource_DECLARE(attributes)/

mixin set(attributes)
  MySource_SET(attributes)/
