//- It works, but feels *so* wrong!
//- Looking to merge this into an external helpers.js
//- to be passed into the Jade compiler.
- var ocd = function(attributes) {
  - var __attributes = {};
  each val, key in attributes
    //- allows the use of standard Jade syntax to define a MySource identifier
    if key === "id"
      - __attributes["id_name"] = val;
    else
      - __attributes[key] = val;
  - return __attributes;
- }

//- Below used in conjunction with the parser function to
//- fudge design static/parse file functionality.
mixin block
  block

mixin area(attributes)
  - attributes = ocd(attributes);
  if block
    //- this could be merged into above if statement. via || or &&
    if attributes.design_area === "nest_content"
      MySource_AREA(attributes)/
        block
    else
      MySource_AREA(attributes)
        block
  else
    MySource_AREA(attributes)/

mixin asset
  MySource_ASSET(attributes)
    block

mixin divider
  MySource_DIVIDER
    block

mixin sub
  MySource_SUB(design_area="menu_normal")
    block

mixin then
  MySource_THEN
    block

mixin else
  MySource_ELSE
    block

mixin login
  MySource_LOGIN_SECTION
    block

mixin logout
  MySource_LOGOUT_SECTION
    block

mixin print(attributes)
  - attributes = ocd(attributes);
  MySource_PRINT(attributes)/

mixin declare(attributes)
  MySource_DECLARE(attributes)/

mixin set(attributes)
  MySource_SET(attributes)/